body {
    background-color: #efeee7;
    font-family: "Georgia",'Times New Roman', Times, serif;
    color: rgb(231, 155, 14);
    margin: 20px;
    padding: 2;
}

head { 
    background-color: #333333;
    }

h1{
    color: rgb(27, 3, 3);
    font-size: 28px;
    margin: 0 auto;
    padding: 0px;
}

h2{
    font-size: 24px;
}
.container {
    margin: 0 auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
    padding: 10px;
}

#bio-image {
    width: 200px;
    margin: 0px, 10px, 0px, 10px;

}

#main-bio {
    width: 70%;
    margin:10px;
    padding: 10px;
    /* % work as the width of the containing element- this means it looks at the container and makes that 100% */

}

#contact-info {
    width: 30%;
    line-height: 1.5;
    color: #d21034;
}